<template>
    <div id = "container" class="bg-light " >
        <div id ="formulario" class="bg-dark text-white">
           <form>
                <div class="form-group">
                    <label >Nombre</label>
                    <input type="text" class="form-control" id="name" required aria-describedby="emailHelp" placeholder="Ingrese su numero telefonico" v-model="container.name">
                </div>
                <div class="form-group">
                    <label>Numero Telefonico</label>
                    <br>
                    <input type="number" id="phone" required class="form-control" placeholder="Ingrese su numero telefonico" v-model="container.phone" >
                </div>
                <div v-if="(this.container.name.length > 0 && this.container.phone.length > 0)">
                    <button type="submit" class="btn btn-primary mx-3" @click.prevent="registerUser">Agregar</button>
                </div>
                <div v-else>
                    <button type="submit" class="btn btn-primary mx-3" @click.prevent="registerUser" disabled>Agregar</button>
                </div>
            </form>
        </div>
        <br> 
        <b-modal id="userUpdate" title="Actualizacion de contacto" ok-only >
                <form>
                    <div class="form-group">
                       <label>Nombre</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" value= "" v-model="user.name">
                    </div>
                    <div class="form-group">
                        <label>Numero telefonico</label>
                        <input type="number" class="form-control" id="phone"  value="" v-model="user.phone">
                    </div>
                </form>
                <button type="submit" class="btn btn-primary mx-3" @click.prevent="updateUser(user.id_user, user.name, user.phone)">Actualizar Datos</button>
        </b-modal>
        <div id = "listar" class="bg-dark text-white">
             <div v-if="typeof getuser[0] === 'undefined'">
                <h5> No tienes contactos registrados</h5>
            </div>   
            <div v-else>
                <table class="table table-dark table-layout: fixed">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Numero telefonico</th>
                        </tr>
                    </thead>
                    <tbody v-for="item in getuser">
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.phone}}</td>
                            <td><b-button class="btn btn-success" v-b-modal.userUpdate 
                            @click="$bvModal.show('userUpdate'), viewUser(item)">Editar</b-button></td>
                            <td><b-button class="btn btn-danger" @click.prevent="deleteUser(item.id_user)">Eliminar</b-button></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</template>
<script>
export default {
    name:'registro', 
    data() {
        return {
            container : {
                'name' : '',
                'phone' : ''
            },
            getuser : [],
            user : [],
        }
    },
    created(){
        this.getAllUser();
    },
    methods: {
        registerUser() {
            this.axios
                .post('https://apicolektia.herokuapp.com/api/user/register', {
                    name: this.container.name,
                    phone: this.container.phone
                })
                .then(response => (this.info = response.data, this.getAllUser()))
                .catch(error => console.log(error))
        },
        getAllUser() {
            this.axios.get('https://apicolektia.herokuapp.com/api/user/alluser')
            .then(response => {
                console.log(response.data.data[0]);
                this.getuser = response.data.data;
            })
            .catch(function (error) {
                console.log(error.response);
            })
        },
        updateUser(idUser, name, phone) {
            this.axios
            .put('https://apicolektia.herokuapp.com/api/user/updateuser',{
                    'idUser' : idUser,
	                'name' : name,
	                'phone' : phone
            })
            .then(response => (this.info = response.data, this.getAllUser()))
            .catch(error => console.log(error))
        },
        deleteUser(idUser){
            console.log(idUser)
            this.axios
                .delete(`https://apicolektia.herokuapp.com/api/user/delete/${idUser}`)
                .then(response => (this.info = response.data, this.getAllUser()))
                .catch(error => console.log(error))
        },
        viewUser(user){
            this.user = user;
            return this.user;
        }


    },
}
</script>

<style>
    #container {
        background-color:red;
        margin:3% 25% 0% 25%; 
    }
    #formulario {
        background-color: yellow;
        padding: 5% 25% 2% 25%;

    }
    #listar {
        background-color: #ffffff;
        padding: 3% 25% 0% 25%;

        

    }
</style>